@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 3
   
   Author: Razielle De La Cerda
   Date: 04 April 2024      
   Filename: code6-3_columns.css

*/

article{
   columns: 350px 3;
   column-gap: 20px;
   column-rule: 5px ridge color(srgb 231 231 231);
}

h1{
   column-span: all;
   text-align: center;
   font-size: 3.5em;
   letter-spacing: .15em;
}

article p{
   widows: 4;
   orphans: 4;
}