@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Coding Challenge 1

   Author:Razielle DeLaCerda 
   Date:13FEB2024
   
   Filename: code2-1.css

*/
h1{font-size:3.5em;}
h1, h2{
   font-family:Arial, Helvetica, sans-serif;
   letter-spacing: 0.1em;
}

blockquote{
   
   color:hsl(30, 85%, 45%);
   font-size:1.5em;
}
blockquote::first-letter{
   font-size: 1.5em;
}
footer{
   text-align: center;
   font-size: 2em;
   color: white;
   background-color: hsl(30, 85%, 45%);
}